.simple-styleguide--site-styles {
  width: 100%;
  max-width: 1030px;
  margin-right: auto;
  margin-left: auto;
}
.simple-styleguide--site-styles h3.simple-styleguide--sectionhead {
  position: relative;
  margin: 80px 0 10px 0;
  padding: 20px 20px 12px 0;
  text-transform: uppercase;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 4px solid #000;
  font-size: 1.2rem;
}
.simple-styleguide--site-styles h3.simple-styleguide--sectionhead.first {
  margin-top: 20px;
}
.simple-styleguide--site-styles .simple-styleguide {
  margin: 40px 0;
}
.simple-styleguide--site-styles .simple-styleguide::after {
  display: block;
  clear: both;
  content: "";
}
.simple-styleguide--site-styles .label {
  background: #ccc;
}
.simple-styleguide--site-styles .simple-styleguide code {
  display: block;
  margin-top: 20px;
  padding: 10px;
  color: #9e9e9e;
  background: #eee;
  line-height: 1.5;
}

.simple-styleguide--jump-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
}

.simple-styleguide--jump-nav li {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 480px) {
  .simple-styleguide--jump-nav li {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .simple-styleguide--jump-nav li {
    width: 25%;
  }
}

.simple-styleguide--view-sourecode {
  cursor: pointer;
}

.simple-styleguide pre {
  display: none;
  padding: 20px;
  border: 1px solid #fff;
  border-bottom: 4px solid #fff;
  background: #f1f1f1;
  font-family: monospace;
}

.simple-styleguide pre.active {
  display: block;
}

.simple-styleguide--pattern {
  margin-top: 20px;
}

.simple-styleguide--colors {
  display: flex;
  flex-wrap: wrap;
}

.simple-styleguide--color {
  width: 48%;
  /* border: 1px solid #d3d3d3; */
  margin-right: 2%;
  margin-bottom: 15px;
}

.simple-styleguide--color:nth-child(2n) {
  margin-right: 0;
}

@media (min-width: 600px) {
  .simple-styleguide--color {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 15px;
  }
  .simple-styleguide--color:nth-child(2n) {
    margin-right: 2%;
  }
  .simple-styleguide--color:nth-child(4n) {
    margin-right: 0;
  }
}

.simple-styleguide--color--swatch--class,
.simple-styleguide--color--swatch--values,
.simple-styleguide--color--swatch--usage {
  display: block;
  font-family: sans-serif;
  font-size: 10px;
}

.simple-styleguide--color--swatch--class label,
.simple-styleguide--color--swatch--values label,
.simple-styleguide--color--swatch label {
  display: inline;
  font-weight: bold;
}

.simple-styleguide--color--swatch {
  padding: 4%;
  background: #fff;
}

.simple-styleguide--site-styles .simple-styleguide--color--block {
  width: 100%;
  height: 100px;
  border: 1px solid #fff;
}

.simple-styleguide .calculate .info {
  display: block;
  font-family: sans-serif;
  font-size: 10px;
}

.simple-styleguide .calculate .info label {
  display: inline;
  font-weight: bold;
}
